# sbt
/target/
/*/target/
/project/project/
/.bsp/

# IDE
/.idea/
/*.iml
/.bloop/
/*/.bloop/
/.vscode/
/.metals/
/.cursor/
/.claude/

# OS
.DS_Store
Thumbs.db

# Scala
*.class
*.log

# Temp files
*.code-workspace
*.tmp
*.swp
*~

# Scala Steward
.scala-steward.conf.backup
